[class*="__container"] {
    max-width: 1210px;
    margin: 0px auto;
    padding: 0px 15px;
}

.header {
    background-color: #FFFFFF;
}

.header__container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 72px;
}

.header__container img {
    max-width: 100%;
}

.main {
    flex: 1 1 100%;
    background: linear-gradient(#F2F2F2 61%, #FFFFFF 39%);
}

.main__container {
    display: flex;
    flex-direction: column;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 100px 48px 100px;
}

.calculator__title {
    padding-bottom: 28px;
    font-weight: 600;
    font-size: 32px;
}

.separator {
    display: block;
    width: 60px;
    height: 4px;
    margin-bottom: 48px;
    background-color: #27AE60;
    border-radius: 32px;
}

.calculator__indicators {
    display: flex;
    margin-bottom: 16px;
    flex-wrap: wrap;
    gap: 16px;
}

.indicators {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 15px 23px;
    width: 316px;
    height: 56px;
    min-width: 300px;
    background-color: #FFFFFF;
    border-radius: 16px;
}

.indicators__text {
    padding-left: 21px;
    color: #828282;
}

.indicators__text span,
.parameter__text span {
    font-weight: 700;
    font-size: 18px;
    color: #333333;
}

.parameters {
    display: flex;
    text-align: start;
    column-gap: 16px;
    flex-wrap: wrap;
}

.goal__parameters {
    display: flex;
    flex-direction: column;
    flex: 1 1 41.5%;
    width: 100%;
    padding: 16px 24px;
    background: #FFFFFF;
    border-radius: 16px
}

.parameters__title {
    font-weight: 700;
    font-size: 18px;
}

.parameter__chart {
    padding: 16px 0px;
    position: relative;
}

.chart-img {
    width: 100%;
    height: auto;
}

.point1 {
    position: absolute;
    left: 25%;
}

.point1-weight {
    top: 12%;
}

.point1-days {
    top: 20%;
}

.point2 {
    position: absolute;
    left: 50%;
}

.point2-weight {
    top: 34%;
}

.point2-days {
    top: 41%;
}

.point3 {
    position: absolute;
    left: 75%;
}

.point3-weight {
    top: 53%;
}

.point3-days {
    top: 61%;
}

.point-weight {
    font-weight: 700;
    font-size: 14px;
    color: #333333;
    transform: translateX(-50%);
}

.point-days {
    font-size: 14px;
    color: #bcbcbc;
    transform: translateX(-50%);
}

.personal__parameters {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.parameters__bmi {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 41.5%;
    padding: 16px 24px;
    background-color: #FFFFFF;
    border-radius: 16px;
}

.index__bmi {
    font-weight: 700;
    font-size: 16px;
}

.value__bmi {
    margin-left: 8px;
    padding: 4px 24px;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    border-radius: 24px;
}

.value__bmi-red {
    background-color: #EB5757;
}

.value__bmi-orange {
    background-color: #ee7e22;
}

.value__bmi-yellow {
    background-color: #e2ea49;
}

.value__bmi-green {
    background-color: #27AE60;
}

.weight__indicator {
    border-radius: 20px;
    background: linear-gradient(90deg, #EB5757 0%, #F2C94C 25%, #27AE60 48.96%, #F2C94C 74.48%, #EB5757 100%);
    width: 434px;
    height: 8px;
}

.indicator {
    width: 8px;
    height: 24px;
    border-radius: 16px;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.parameters__calorie {
    display: flex;
    align-items: center;
    margin-top: 16px;
    padding: 18px 24px;
    background-color: #FFFFFF;
    border-radius: 16px;
}

.parameters__calorie img {
    margin-right: 18px;
}

.your__plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.your__plan__title {
    padding-bottom: 28px;
    font-weight: 600;
    font-size: 32px;
}

button {
    border: none;
    background-color: #FFFFFF;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    padding: 12px 48px;
    background: #FFFFFF;
    border-radius: 16px;
    margin-bottom: 24px;
}

.content .content__day:not(:first-child) {
    display: none;
}

.active {
    color: #27AE60;
}

.active::after {
    content: "";
    display: block;
    padding-top: 3px;
    border-bottom: 2px solid #27AE60;
    width: 12px;
    margin: 0 auto;
}

.content {
    display: flex;
    padding-bottom: 76px;
}

.content__day {
    display: flex;
    flex-direction: column;
}

.content__day__title {
    padding: 32px 0px 24px 0px;
    font-weight: 700;
    font-size: 18px;
}

.workout__plan,
.nutrition__plan {
    display: flex;
    column-gap: 18px;
}

.plan {
    display: flex;
    flex: 1 1 30%;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
}

.plan img {
    border-radius: 10px;
}

.plan__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 18px;
}

.plan__content__button {
    font-weight: 500;
    color: #27AE60;
}

.plan__content__button:hover {
    color: #219653;
}

.plan__content__button svg {
    margin-left: 12px;
    vertical-align: middle;
}

.plan__content__button:hover path {
    fill: #219653;
}

.footer {
    background-color: #333333;
    padding: 40px 0px;
}

.footer__container {
    display: flex;
    flex-direction: column;
}

.footer__content {
    display: flex;
    justify-content: space-between;
}

.footer__text {
    font-size: 14px;
    color: #828282;
}