[class*="__container"] {
    max-width: 1210px;
    margin: 0px auto;
    padding: 0px 15px;
}

.header {
    background-color: #FFFFFF;
}

.header__container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 72px;
}

.header__container img {
    max-width: 100%;
}

.main {
    flex: 1 1 100%;
    background-color: #F2F2F2;
}

.exercise {
    display: flex;
    flex-direction: column;
}

.exercise__block {
    display: flex;
    align-items: center;
    padding: 60px 0 48px 0;
}

.exercise__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin-right: 16px;
    background: #FFFFFF;
    border-radius: 50%;
}

.exercise__title {
    font-weight: 600;
    font-size: 32px;
}

.content__exercise {
    display: flex;
    gap: 20px;
}

.exercise__text {
    display: flex;
    flex: 1 1 50%;
    padding-right: 30px;
    font-weight: 400;
    font-size: 14px;
}

.exercise__img {
    display: flex;
    justify-content: center;
}

.exercise__img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

@media (max-width: 1100px) {
    .content__exercise {
        flex-direction: column;
    }
}