@media (max-width: 1210px) {
    .about__title {
        font-size: calc(35px + (64 - 35) * ((100vw - 320px) / (1210-320)));
    }
    .block-text__title {
        font-size: calc(26px + (32 - 26) * ((100vw - 320px) / (1210-320)));
    }
    .quiz__content-title {
        font-size: calc(30px + (48 - 30) * ((100vw - 320px) / (1210-320)));
    }
}

@media (max-width: 991.98px) {
    .quiz__img {
        display: none;
    }
}

@media (max-width: 768px) {
    .menu__body {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        height: 100vh;
        width: 100%;
        overflow: auto;
        background-color: #FFFFFF;
        transition: all 0.2s;
        transform: scaleX(0);
        transform-origin: 100% 50%;
    }
    .menu__body.active {
        transform: scaleX(1);
    }
    .menu__list {
        flex-direction: column;
        align-items: center;
        padding: 30px;
        gap: 10;
        margin: auto;
    }
    .menu__link {
        font-size: 30px;
        line-height: 50px;
    }
    .menu__icon {
        display: block;
        width: 30px;
        height: 18px;
        position: relative;
        z-index: 5;
        cursor: pointer;
    }
    .menu__icon span {
        position: absolute;
        top: calc(50% - 1px);
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #333333;
        transition: all 0.2s;
    }
    .menu__icon span:first-child {
        top: 0;
    }
    .menu__icon span:last-child {
        top: auto;
        bottom: 0;
    }
    .active span {
        transform: scale(0);
    }
    .active span:first-child {
        transform: rotate(-45deg);
        top: calc(50% - 1px);
    }
    .active span:last-child {
        transform: rotate(45deg);
        bottom: calc(50% - 1px);
    }
    .plan__container {
        flex-direction: column;
        justify-content: center;
    }
    .about {
        text-align: center;
    }
    .plan__img {
        padding-left: 0px;
        padding-top: 30px;
    }
    .how-it-works__container {
        flex-direction: column;
        justify-content: center;
    }
    .how-it-works__img {
        padding-right: 0px;
    }
    .nutrition__container {
        flex-direction: column;
        justify-content: center;
    }
    .nutrition__img {
        padding: 30px 0px 0px 0px;
    }
    .workouts__container {
        flex-direction: column;
        justify-content: center;
    }
    .workouts__img {
        padding-right: 0px;
    }
    .quiz__container {
        flex-direction: column;
        justify-content: center;
    }
    .quiz__content {
        text-align: center;
        padding-bottom: 20px;
    }
    .footer__top {
        flex-direction: column;
        justify-content: flex-start;
    }
    .footer-menu__list {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        padding-top: 32px;
    }
    .footer__bottom {
        flex-direction: column;
        align-items: center;
    }
}